<div class="container">
  <h2>New Person</h2>

  <%= render "form.html", Map.put(assigns, :action, person_path(@conn, :create)) %>

  <span><%= link "Back", to: person_path(@conn, :index) %></span>
</div>
