<h2>Show Person</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @person.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @person.email %>
  </li>

</ul>

<span><%= link "Edit", to: person_path(@conn, :edit, @person) %></span>
<span><%= link "Back", to: person_path(@conn, :index) %></span>
