<h2>Edit Pair iteration</h2>

<%= render "form.html", Map.put(assigns, :action, pair_iteration_path(@conn, :update, @pair_iteration)) %>

<span><%= link "Back", to: pair_iteration_path(@conn, :index) %></span>
