<h2>Lets Spin!!!!</h2>

<div>
  <iframe
    src=<%= form_wheel_url(@spin1_people) %>
    width="800"
    height="800"
    scrolling="no"
    frameborder="0">
  </iframe>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for person <- @spin1_people do %>
        <tr>
          <td><%= person.name %></td>

        </tr>
    <% end %>
  </tbody>
</table>
