<h2>Show Iteration</h2>

<ul>

  <li>
    <strong>End date:</strong>
    <%= @iteration.end_date %>
  </li>

</ul>

<span><%= link "Edit", to: iteration_path(@conn, :edit, @iteration) %></span>
<span><%= link "Back", to: iteration_path(@conn, :index) %></span>
